# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environments
.env
.venv/
env/
venv/
ENV/

# Testing & Caches
.pytest_cache/
.coverage
htmlcov/

# Logs & temp
*.log
scratch/
tmp/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
